{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurante Puente Tierra</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/site/css/style.css">
</head>
<body>
  {% include 'navbar.html' %}
    <!-- Navbar -->
    

    <!-- Banner -->
    <header class="jumbotron jumbotron-fluid text-white text-center" style="background-image: url('banner.jpg'); background-size: cover;">
        <div class="container">
            <h1 class="display-4">Deliciosos platos tipos de la region </h1>
            <p class="lead">Disfruta de nuestros platos tradicionales en un ambiente acogedor.</p>
            <a href="#menu" class="btn btn-primary btn-lg">Ver Menú</a>
        </div>
    </header>

    <!-- Menú -->
    <section id="menu" class="container my-5">
      <h2 class="text-center mb-4">Nuestro Menú</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/plato ajiaco.jpg' %}" class="card-img-top" alt="Ajiaco">
            <div class="card-body">
              <h5 class="card-title">Ajiaco Colombiano</h5>
              <p class="card-text">Preparado con papa criolla, mazorca, y pollo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/plato de costilla.jpg' %}" class="card-img-top" alt="Caldo de Costilla">
            <div class="card-body">
              <h5 class="card-title">Caldo de Costilla</h5>
              <p class="card-text">Un rico caldo con costilla de res.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/Sopa_miaz_verduras.jpg' %}" class="card-img-top" alt="Sopa tradicional de maiz con verduras">
            <div class="card-body">
              <h5 class="card-title">Deliciosos sopa de maiz</h5>
              <p class="card-text">Rica sopa de maiz con verduras.</p>
    
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/Bandeja_carne_asada.jpg' %}" class="card-img-top" alt="Bandeja con carne asada">
            <div class="card-body">
              <h5 class="card-title">Bandeja con carne asada</h5>
              <p class="card-text">Bandeja con carne asada acompañada de arroz, frijoles, ensalada y plátano maduro.</p>
    
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/Pechuga_plancha.jpg' %}" class="card-img-top" alt="Pechuga a la plancha">
            <div class="card-body">
              <h5 class="card-title">Pechuga a la plancha</h5>
              <p class="card-text">bandeja con pechuga a la plancaha, acompañada arroz, papas a la francesa y ensada .</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/bandeja_trucha.jpg' %}" class="card-img-top" alt="Bandeja con trucha frita">
            <div class="card-body">
              <h5 class="card-title">Trucha frita</h5>
              <p class="card-text">Bandeja con trucha arroz, platano maduro y ensalada.</p>
            </div>
          </div>
        </div>
    </section>
    
    <!--bebidas calientes-->
    <section id="menu" class="container my-4"></section>
      <h2 class="text-center mb-4">Nuestro oferta de bebidas calientes</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/Chocolate_caliente.jpg' %}" class="card-img-top" alt="Chocolate  caliente">

            <div class="card-body">
              <h5 class="card-title">Tasa de chocolate</h5>
              <p class="card-text">Apenas para acompañar el clima frio.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/tasa de agua de panela.jpg' %}" class="card-img-top" alt="Agua de Panel">
            <div class="card-body">
              <h5 class="card-title">Agua de panela con sabor de plantas aromaticas</h5>
              <p class="card-text">Deliciosa agua de panela caliente con queso y hojaldras.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/Cafe_pasado_14062011.jpg' %}" class="card-img-top" alt="Cafe con leche">
            <div class="card-body">
              <h5 class="card-title">Rico sabor del cafe</h5>
              <p class="card-text">Que bueno tomarse un vaso de cafe caliente con queso o leche.</p>
    
            </div>
          </div>
        </div>
           
       
    </section>


    <!-- Nosotros -->
    <section id="nosotros" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Sobre Nosotros</h2>
            <p class="text-center">Somos un restaurante que se especializa en ofrecer platos tradicionales del altiplano colombiano. Nuestra misión es brindarte la experiencia más auténtica de la gastronomía local.</p>
        </div>
    </section>

    

    <!-- Footer -->
    <footer>
      <div class="footer-corporate-bottom-panel">
        <div class="container">
          <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
            <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
              <div>
                <ul class="list-inline list-inline-sm footer-social-list-2">
                  <li><a class="icon fa fa-facebook" href="#"></a></li>
                  <li><a class="icon fa fa-twitter" href="#"></a></li>
                  <li><a class="icon fa fa-google-plus" href="#"></a></li>
                  <li><a class="icon fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 order-sm-first">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Puente Tierra</span>. All Rights Reserved. <a href="#"></a></p>
            </div>
            <div class="col-sm-6 col-md-4 text-md-right">
              <p class="rights"><a href="#">politica de privacidad</a></p>
            </div>
          </div>
        </div>
        <div class="map">
            <!-- Aquí puedes agregar un mapa de Google Maps o similar -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21669.758623473317!2d-76.40982291965231!3d2.3621172844224434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2554e79b5c1b15%3A0xa9adab28577e844d!2sPilimbala!5e1!3m2!1ses-419!2sco!4v1727146927099!5m2!1ses-419!2sco" 
            width="1490" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div>
      </div>
    </footer>

    <!-- Bootstrap JS -->
   
    
</body>
</html>
