body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima del body */
    margin: 0; /* Elimina margen del body */
}

.principal {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px; /* Espacio alrededor */
    display: flex;
    flex-direction: column; /* Alinear elementos en una sola columna */
    justify-content: center; /* Alinear al principio */
    align-items: center; /* Centrar horizontalmente */
    flex-grow: 1; /* Permitir que ocupe el espacio restante */
}

.title-container {
    margin-bottom: 20px;
}

.containerform {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 198, 58, 0.1);
    width: 100%; /* Cambiado a 100% para ser responsivo */
    max-width: 380px; /* Ancho máximo */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 7px; /* Tamaño de las cajas de texto */
    width: 100%;
    border: 1px solid rgb(147, 147, 168);
    border-radius: 7px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}