body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.principal {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.title-container {
    margin-bottom: 20px;
    text-align: center;
}

.main-title {
    color: #1074b1;
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitle {
    color: #1074b1;
    margin: 5px 0;
}

.containerform {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 198, 58, 0.1);
    width: 100%;
    max-width: 450px;
}

form label, form input {
    text-align: left;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 7px;
    width: 103%;
    border: 1px solid rgb(147, 147, 168);
    border-radius: 7px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .containerform, .principal {
        padding: 15px;
    }
    
    .main-title {
        font-size: 1.5em;
    }
}
