{% extends 'Panel/panelPadre.html' %}
{% load static %}
{% block content %}
<div class="right_col" role="main">

    <link rel="stylesheet" href="{% static 'css/actualizarPaquete.css' %}">

    <div align='center'>
        <h1 style="color: hsl(203, 83%, 38%)"> Actualizar datos </h1>
    </div>


    <form class="formulario-colorido" method="post" enctype="multipart/form-data">
        {% csrf_token %}{{form.as_p}}
        <button type="submit" class="btn btn-outline-warning">Actualizar</button>
    </form><br>
</div>
{% endblock %}