{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Fechas</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="principal">
        <!-- Title and Subtitle -->
        <div class="title-container">
            <h1 style="color: #1074b1; text-align: center;">Seleccionar Fechas</h1>
            <p style="text-align:center;">Usted ha seleccionado el paquete: <br>{{ paquete.nombre }}</p>
        </div>
        
        <div class="containerform">
            <form method="post" onsubmit="return validateForm();">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_fechaInicio">Fecha inicio</label>
                    <input type="date" name="fechaInicio" id="id_fechaInicio" required>
                </div>
                <div class="form-group">
                    <label for="id_fechaFinal">Fecha Final</label>
                    <input type="date" name="fechaFinal" required id="id_fechaFinal">
                </div>
                <div class="form-group">
                    <label for="id_personas">Cantidad Personas</label>
                    <input type="number" name="personas" value="0" min="1" required id="id_personas">
                </div>

                <!-- Hidden fields for selected days and nights -->
                <input type="hidden" id="id_dias_seleccionados" name="dias_seleccionados" value="0">
                <input type="hidden" id="id_noches_seleccionadas" name="noches_seleccionadas" value="0">

                <!-- Display selected days and nights count -->
                <div class="form-group">
                    <p class="days-counter">Días seleccionados: <span id="daysSelected">0</span></p>
                    <p class="nights-counter">Noches seleccionadas: <span id="nightsSelected">0</span></p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn custom-btn mt-2">Continuar</button>
                </div>
            </form>
        </div>
    </div>

    {% include 'home/footer.html' %}
    
    <!-- Scripts -->
    <script src="{% static 'js/fechasReserva.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>