<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<head>
    <title>Listar Paquetes Turísticos</title>
</head>
<body>
  {% include 'navbar.html' %}

  <div align="center">
    <h1 style="color: hsl(203, 83%, 38%)">Listado de Paquetes Turisticos</h1>
  </div>
  

  <div class="container">
    <div class="row">
      {% for paquete in paquetes %}
        <div class="col-md-6">
          <div class="card mb-4 h-100">
            <div class="card-body d-flex flex-column">
              <h2 class="card-title">{{ paquete.nombre }}</h2>
              <p><strong>Descripcion:</strong> {{ paquete.descripcion }}</p>
              <p>{{ paquete.descripcion }}</p>
              <p><strong>Incluye:</strong> {{ paquete.incluye }}</p>
              <p><strong>No Incluye:</strong> {{ paquete.no_incluye }}</p>
            </div>
  
            <div id="carouselExampleControls{{ paquete.id }}" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% if paquete.imagenUno %}
                  <div class="carousel-item active">
                    <img src="{{ paquete.imagenUno.url }}" class="d-block w-100" alt="...">
                  </div>
                {% endif %}
                {% if paquete.imagenDos %}
                  <div class="carousel-item">
                    <img src="{{ paquete.imagenDos.url }}" class="d-block w-100" alt="...">
                  </div>
                {% endif %}
                {% if paquete.imagenTres %}
                  <div class="carousel-item">
                    <img src="{{ paquete.imagenTres.url }}" class="d-block w-100" alt="...">
                  </div>
                {% endif %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{ paquete.id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{ paquete.id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div class="card-body">
              <form action="{% url 'fechas_reserva' paquete.id %}" method="get">
                <button type="submit" class="btn btn-outline-primary mt-2">RESERVAR</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
          
    </div>
    {% include 'home/footer.html' %}
  </div>
  