{% block navbar %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puente Tierra</title>
  
</head>
<body>  
  <style>
    .container-fluid {
      background-color: #084464 ;
      font-size: large;
      font-family: Arial, sans-serif;   
    }
    
    .nav-link {
      color: white;
      font-weight: normal; /* Quita la negrita */
    }
    
    .navbar-brand {
      color: white;
      font-weight: normal; /* Quita la negrita */
    }
  </style>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.jpg' %}" alt="" style="height:50px;">Puente Tierra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 d-flex justify-content-between">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homePrincipal' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://turismopurace.com/">Turismo purace</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listarMejorado' %}">Reserva</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'homeRestaurante' %}">Restaurante</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pqrs_form' %}">Tu Opinión</a>
            </li>
            <li class="nav-item"></li>
              <img src="{% static 'img/456212.png' %}" style="width: 40px; height:40px;"  alt="">
              <a class="nav-link" href="{% url 'login' %}">Mi Cuenta</a>              
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>  
</body>
</html>
{% endblock %}
