{% block navbar %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puente Tierra</title>
  
</head>
<body>  
<style>
  .container-fluid{
    background-color: rgb(4, 4, 112);
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;   
    }
  .nav-link{
    color: white;
  }
  .navbar-brand{
    color: white;
  }

</style>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.jpg' %}" alt="" style="height:50px;">Puente Tierra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 d-flex justify-content-between">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homePrincipal' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://turismopurace.com/">Turismo purace</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'paqueteturistico_list' %}">Reserva</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'homeRestaurante' %}">Restaurante</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PQRS</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>  
</body>
</html>
{% endblock %}
