{% extends 'Panel/panelPadre.html' %}
{% load static %}
{% block indexPrincipalGrafica %}

<div class="right_col" role="main">
    <h1 style="color: hsl(203, 83%, 38%);text-align: center;"> Informe de clientes registrados por país</h1>
    <form method="get">
      <label for="mes">Seleccionar Mes:</label>
      <select name="mes" id="mes">
        {% for mes in meses %}
        <option value="{{ mes }}" {% if mes == mes_seleccionado %}selected{% endif %}>{{ mes }}</option>
        {% endfor %}
      </select>

      <label for="anio">Seleccionar Año:</label>
      <select name="anio" id="anio">
        {% for anio in anios %}
        <option value="{{ anio }}" {% if anio == anio_seleccionado %}selected{% endif %}>{{ anio }}</option>
        {% endfor %}
      </select>

      <button type="submit">Filtrar</button>
    </form>

    <!-- Gráfico de clientes por país -->
    <div id="graficoClientesPaisMes" style="width: 700px; height: 500px;  margin: 0 auto;"></div>

    <!-- Tabla con totales por país -->
    <h3>Total de clientes por país</h3>
    <table class="table">
        <thead>
            <tr>
                <th>País</th>
                <th>Total de Clientes</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data_grafico %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Total de clientes en el mes: {{ total_mensual }}</h2>
    <br>
</div>

<!-- Cargar el archivo de eCharts -->
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

<!-- Pasar los datos de la gráfica a una variable JavaScript -->
<script type="text/javascript">
    var chartData = {{ data_grafico|safe }};
</script>

<!-- Cargar el archivo JavaScript externo -->
<script src="{% static 'js/graficaClientePais.js' %}"></script>

{% endblock %}
