<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        <h1>Usted ha seleccionado el Paquete: {{ paquete.nombre }}</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      
    </form>
<div>
    <h2>NO tienes cuenta... Registrate!</h2>
    <form action="{% url 'registrar_cliente' paquete_id %}" method="get">
        <button type="submit" class="btn btn-outline-primary mt-2">registrate</button>
      </form>
    </div>
 

</body>
</html>